<h1>Angular Practice</h1>
<!-- 

<app-databind></app-databind> -->
<!-- <app-classstyle></app-classstyle> -->
<!-- <app-login></app-login> -->
  <!-- <app-two-way></app-two-way> -->
<!-- <app-event-bind></app-event-bind> -->
<!-- <app-ngif></app-ngif> -->

<!-- <app-about-pipe></app-about-pipe> -->

<!-- <app-user-comp></app-user-comp> -->

<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active"routerLink='/home'>Home</a></li>
      <li class="nav-item"><a class="nav-link active"routerLink='/contact'>Contact</a></li>
      <li class="nav-item"><a class="nav-link active"routerLink='/Feedback'>Feedback</a></li>
      <!-- <li class="nav-item"><a class="nav-link active"routerLink='/Dashboard'>Dashboard</a></li> -->
    </ul>
  </nav>
</header>


<router-outlet></router-outlet>


